.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.chats{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nounderline{
  text-decoration: none;
}

img{
  max-width: 300px;
  max-height: 300px;
}